<h3> ❤ LAKSHADWEEP ❤</h3><img src="./assets/lak.jpg" alt="OOps Image not found">
<br>
<br>
<br>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>L</b>akshadweep is a group of islands in the Arabian sea, 200 to 440 km (120 to 270 mi) off the southwestern coast of India. The archipelago is administered as a union territory and district of India.
    They were also known as the Laccadive Islands, although geographically this is only the name of the central subgroup of the group. Lakshadweep means "one lakh islands" in Sanskrit, and Malayalam, the most spoken language in the territory. The islands
    form the smallest Union Territory of India and their total surface area is just 32 km2 (12 sq mi). The lagoon area covers about 4,200 km2 (1,600 sq mi), the territorial waters area 20,000 km2 (7,700 sq mi) and the exclusive economic zone area 400,000
    km2 (150,000 sq mi). The region forms a single Indian district with 10 subdivisions.
    <strong>Kavaratti </strong>serves as the capital of the Union Territory and the region comes under the jurisdiction of Kerala High Court. The islands are the northernmost of the Lakshadweep–Maldives–Chagos group of islands, which are the tops of a
    vast undersea mountain range, the Chagos-Lakshadweep Ridge.The Lakshadweep consisted of 36 islands. But currently there are 35 islands , as the Parali 1 island submerged in water due to sea erosion. Ten of the islands are inhabited. At the 2011 Indian
    census, the population of the Union Territory was 64,473. The majority of the indigenous population is Muslim and most of them belong to the Shafi school of the Sunni sect. The islanders are ethnically similar to the Malayali people of the nearest
    Indian state of Kerala. Most of the population speaks Malayalam with Mahl being the most spoken language in Minicoy island. The islands are served by an airport on Agatti Island. The main occupation of the people is fishing and coconut cultivation,
    with tuna being the main item of export. </p>
<marquee scrollamount="10" width="100%">
    <p id="last">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Do you want to know intresting places in Lakshadweep Islands? 😍 then why waiting
        <strong> Click on the button </strong> given below 🥳 have a nice trip 💖.</p>

</marquee>
<br>
<button style="color: blue;"> <a href="https://www.yatra.com/india-tourism/lakshadweep-islands" target="_blank" style="color:black;font-size:35px;font-family:Brush script MT;"> See now </a> </button><br>
<hr>