<h3> ❤ ANDAMAN ❤ </h3><img src="./assets/andaman.jpg" alt="OOps Image not found">
<br>
<br>
<br>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>A</b>ndaman and Nicobar Islands is a union territory of India consisting of 572 islands, of which 38 are inhabited, at the juncture of the Bay of Bengal and the Andaman Sea. The territory is about 150
    km (93 mi) north of Aceh in Indonesia and separated from Thailand and Myanmar by the Andaman Sea. It comprises two island groups, the Andaman Islands (partly) and the Nicobar Islands, separated by the 150 km wide Ten Degree Channel (on the 10°N parallel),
    with the Andaman islands to the north of this latitude, and the Nicobar islands to the south (or by 179 km). The Andaman Sea lies to the east and the Bay of Bengal to the west. The territory's capital is the city of
    <strong>Port Blair</strong>. The total land area of the islands is approximately 8,249 km2 (3,185 sq mi). The territory is divided into three districts: the Nicobar District with Car Nicobar as its capital, the South Andaman district with Port Blair
    as its capital and the North and Middle Andaman district with Mayabunder as its capital. The islands host the Andaman and Nicobar Command, the only tri-service geographical command of the Indian Armed Forces. The Andaman Islands are also home to the
    Sentinelese people, an uncontacted tribe. The Sentinelese might be the only people currently known to not have reached further than a Paleolithic level of technology, however, this is disputed, as evidence of metalwork was found on their island.</p>
<marquee scrollamount="10" width="100%">
    <p id="last">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Do you want to know intresting places in Andaman and Nicobar Islands? 😍 then why waiting
        <strong> Click on the button </strong> given below 🥳 have a nice trip 💖.</p>

</marquee>
<br>
<button style="color: blue;"> <a href="https://www.yatra.com/india-tourism/andaman" target="_blank" style="color:black;font-size:35px;font-family:Brush script MT;"> See now </a> </button><br>
<hr>