<h3> ❤ KARNATAKA ❤ </h3>
<img src="./assets/viru.jpg" alt="OOps Image not found">
<br>
<br>
<br>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>K</b>arnataka is a state in the south western region of India. It is the largest state in South India and sixth largest in India. It was formed on 1 November 1956, with the passage of the States Reorganisation
    Act. Originally known as the State of Mysore, it was renamed Karnataka in 1973. The state corresponds to the Carnatic region. Its capital and largest city is ,<strong>Bangalore</strong>. Karnataka is bordered by the Arabian Sea to the west, Goa to
    the northwest, Maharashtra to the north, Telangana to the northeast, Andhra Pradesh to the east, Tamil Nadu to the southeast, and Kerala to the south. It is the only southern state to have land borders with all of the other 4 southern Indian sister
    states. The state covers an area of 191,976 square kilometres (74,122 sq mi), or 5.83 percent of the total geographical area of India. It is the sixth largest Indian state by area. With 61,130,704 inhabitants at the 2011 census, Karnataka is the eighth
    largest state by population, comprising 31 districts. Kannada, one of the classical languages of India, is the most widely spoken and official language of the state. Other minority languages spoken include Urdu, Konkani, Marathi, Tulu, Tamil, Telugu,
    Malayalam, Kodava and Beary. Karnataka also contains some of the only villages in India where Sanskrit is primarily spoken. Though several etymologies have been suggested for the name Karnataka, the generally accepted one is that Karnataka is derived
    from the Kannada words karu and nādu, meaning "elevated land". Karu Nadu may also be read as karu, meaning "black" and nadu, meaning "region", as a reference to the black cotton soil found in the Bayalu Seeme region of the state. The British used
    the word Carnatic, sometimes Karnatak, to describe both sides of peninsular India, south of the Krishna.</p><br>
<marquee scrollamount="10" width="100%">
    <p id="last">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Do you want to know intresting places in Karnataka? 😍 then why waiting
        <strong> Click on the button </strong> given below 🥳 have a nice trip 💖.</p>

</marquee>
<br>
<button style="color: blue;"> <a href="https://www.yatra.com/india-tourism/karnataka" target="_blank" style="color:black;font-size:35px;font-family:Brush script MT;"> See now </a> </button><br>
<hr>