<style>
    /* Make the image fully responsive */
    
    .carousel {
        width: 100%;
        height: 100%;
        margin-left: 150px;
        margin-right: 0px;
    }
    
    .carousel-inner {
        width: 90%;
        height: 25%;
    }
    
    .carousel-item {
        width: 200%;
        height: 25%;
    }
</style>

<body><br><br>
    <nav class="navbar navbar-expand-sm bg-danger navbar-danger">
        <div>&nbsp; &nbsp; &nbsp; fab<b>S</b>ites </div>
        <ul class=" navbar-nav ">&nbsp;
            <li class="nav-item "><a class="nav-link" routerLink="home" style="color:blanchedalmond">Home </a></li>&nbsp;
            <li class="nav-item "><a class="nav-link" routerLink="andhrapradesh" style="color:blanchedalmond">Andhra Pradesh </a></li>
            <li class="nav-item "><a class="nav-link" routerLink="telangana" style="color:blanchedalmond">Telangana </a></li>
            <li class="nav-item "><a class="nav-link" routerLink="karnataka" style="color:blanchedalmond">Karnataka </a></li>
            <li class="nav-item "><a class="nav-link" routerLink="kerala" style="color:blanchedalmond">Kerala </a></li>
            <li class="nav-item "><a class="nav-link" routerLink="tamilnadu" style="color:blanchedalmond">Tamilnadu </a></li>
            <li class="nav-item "><a class="nav-link" routerLink="andaman" style="color:blanchedalmond">Andaman </a></li>
            <li class="nav-item "><a class="nav-link" routerLink="lakshadweep" style="color:blanchedalmond">Lakshadweep </a></li>
        </ul>
    </nav><br>
    <router-outlet>
    </router-outlet>