<h3> ❤ TELANGANA ❤</h3>
<img src="./assets/hyderabad.jpg" alt="OOps Image not found">
<br>
<br>
<br>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>T</b>elangana is a state in India situated on the south-central stretch of the Indian peninsula on the high Deccan Plateau. It is the eleventh-largest state and the twelfth-most populated state in India
    with a geographical area of 112,077 km2 (43,273 sq mi) and 35,193,978 residents as per 2011 census.On 2 June 2014, the area was separated from the northwestern part of Andhra Pradesh as the newly formed state with <strong>Hyderabad</strong> as its
    capital. Its other major cities include Warangal, Nizamabad, Khammam, Siddipet and Karimnagar. Telangana is bordered by the states of Maharashtra to the north, Chhattisgarh to the east, Karnataka to the west, and Andhra Pradesh to the east and south.
    The terrain of Telangana region consists mostly of hills, mountain ranges, and thick dense forests covering an area of 27,292 km2 (10,538 sq mi). As of 2019, the state of Telangana is divided into 33 districts. Throughout antiquity and the Middle
    Ages, the region now known as Telangana was ruled by multiple major Hindustani powers such as the Mauryans, Satavahanas, Chalukyas, Cholas, Rashtrakutas, Kakatiyas, Delhi Sultanate, Bahmani Sultanate, Golconda Sultanate. During the 16th and 17th centuries,
    the region was ruled by the Mughals of India. The region is known for its Ganga-Jamuni tehzeeb culture. During the 18th century and the British Raj, Telangana was ruled by the Nizam of Hyderabad. In 1823, the Nizams lost control over Northern Circars
    (Coastal Andhra) and Ceded Districts (Rayalseema), which were handed over to the East India Company. The annexation by the British of the Northern Circars deprived Hyderabad State, the Nizam's dominion, of the considerable coastline it formerly had,
    to that of a landlocked princely state with territories in the central Deccan, bounded on all sides by British India. Thereafter, the Northern Circars were governed as part of Madras Presidency until India's independence in 1947, after which the presidency
    became India's Madras state.</p>
<br>
<marquee scrollamount="10" width="100%">
    <p id="last">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Do you want to know intresting places in Telangana? 😍 then why waiting
        <strong> Click on the button </strong> given below 🥳 have a nice trip 💖.</p>

</marquee>
<br>
<button style="color: blue;"> <a href="https://www.yatra.com/india-tourism/telangana" target="_blank" style="color:black;font-size:35px;font-family:Brush script MT;"> See now </a> </button><br>
<hr>