<style>
    /* Make the image fully responsive */
    
    .carousel {
        width: 100%;
        height: 100%;
        margin-left: 150px;
        margin-right: 0px;
    }
    
    .carousel-inner {
        width: 90%;
        height: 25%;
    }
    
    .carousel-item {
        width: 200%;
        height: 25%;
    }
</style>

<body>
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="2000">
        <!-- Indicators -->
        <ul class="carousel-indicators" style="margin-left:25px;">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active"><img src="./assets/southindia.jpg" alt="Not Found"></div>
            <div class="carousel-item"> <img src="./assets/imgf.PNG" alt=" Not Found "> </div>
            <div class="carousel-item "><img src="./assets/visiting.PNG " alt="Not Found "></div>
            <div class="carousel-item "><img src="./assets/travel.PNG " alt="Not Found "></div>
            <div class="carousel-item "><img src="./assets/imgen.PNG " alt="Not Found "></div>
        </div>
        <!-- Left and right controls -->
        <div>
            <a class="carousel-control-prev " href="#demo " data-slide="prev "><span class="carousel-control-prev-icon "></span></a>
            <a class="carousel-control-next " href="#demo " data-slide="next "><span class="carousel-control-next-icon "></span>></a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <b>S</b>outh India is located in the Peninsular Deccan Plateau, bordered by the Arabian Sea, South India includes the mountain ranges of the Western Ghats and the Eastern Ghats. The region spreads over an area of 635,780 Sq Km and comprises
            the states of Tamil Nadu, Kerala, Karnataka, Andhra Pradesh, Telangana, and Puducherry. It also covers the verdant Union Territory of Andaman and Nicobar Islands. Karnataka is a coastal belt rich with Hindu traditions and natural beauty. It
            is home to forests like Bandipur and Nagarhole. The most famous hill station in the state is Coorg where aromatic spices and coffee plantations charm tourists immensely. On the other hand, Bengaluru - the IT hub of the state presents a perfect
            blend of software and sarees, bookshops and bars, tradition and modernity, and everything in between. Just below Karnataka lies Tamil Nadu - that boasts many mesmerising sculptures and temple architecture of Chola Tanjore at Chidambaram. Another
            city of this state that takes pride in its creative history is Madhurai. You can still hear of the legendary sangrams between poets and writers that took place here almost 2000 years ago. The most magnificent city in Tamil Nadu that would
            charm you with its Carnatic music and age-old traditions is Chennai. Though, over the years, it has acquired a cosmopolitan glamour with contemporary restaurants and swanky night clubs, the temples, museums and other monuments of the city
            are worth exploring. Southern India has one of India’s most visited pilgrimage spots. The prominent one being the Balaji Temple at Tirupati in Andhra Pradesh. Also, the ancient Buddhist site of Nagarjunakonda, and the wonderful Islamic buildings
            of the Qutub Shahi and Asaf Jahi dynasties at Golconda Fort and Hyderabad reside here. However, a strikingly different picture is portrayed by the most loved tourist locales of Kerala and Andaman & Nicobar Islands. Being a symphony of evergreen
            forests, paddy fields, coconut palms and plantations, Kerala is a lovely world of backwaters that make for a perfect honeymoon destination. Here, Ayurvedic massages, houseboat cruises, wildlife sanctuaries, heritage zones and its local cuisine
            overwhelm you. And, those seeking pristine blue waters can hit the silver soft beaches and lush greenery of Andaman and Nicobar, that are the last remaining virgin rainforest islands in the world. Not to miss, Lakshadweep, an archipelago of
            36 attols in the south-western coast of India that has many uninhabited and untrodden islands that are even more mesmerising. With a population of over 253 million, South India has managed to blend the cuisine and culture of its diverse ethnic
            groups well. The variations of its dosa, sambhar, idlis and vadas have reached the far stretches of North and West regions. Known for its fresh seafood and coconut oil, it dishes out amazing chutneys and meat curries as well. Not to miss,
            the popular dance forms of Bharat Natyam, Kuchipudi, and Kathakali that found their origin in this artistically rich and prospering region.</p>